<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mini todo-app</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
<header>
  <h1>Mini Todo-App</h1>
  <h2>This app combines Node js, Mongodb, Express js,Html5,Css3 and Ejs technologies to implement a simple todo application</h2>
</header>
<section>
  <div class="container">
    <h2>
      Todo lists
    </h2>
    <form id="my-form" action="/myAction" method="POST">
      <input  name="inputItem" type="text" id="input-id" placeholder="Enter desired tasks"
      required aria-label="add task" pattern="[A-z( )]{1,30}" >
      <button id="item-btn" class="btn">Add new task</button>
    </form>
    <ul id="item-list">
    </ul>
  </div>
</section>
<script>
let items = <%- JSON.stringify(itemList) %> 
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/main.js"></script>
</body>
</html>